.loader-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(#fff, .8);

  .loader {
    $width: 50px;
    $height: $width;

    position: absolute;
    top: 50%;
    left: 50%;
    width: em($width);
    height: em($height);
    margin: (em($height) / -2) 0 0 (em($width) / -2);
    background: url('../img/spinner.gif') no-repeat;
    background-size: cover;
  }
}