doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		block pageTitle
		title TEMPLATE | #{pageTitle}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='../css/main.css')
		//[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
	block body
		block bottom-script
			//- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='../js/plugins.js')
			//- script(src="//maps.googleapis.com/maps/api/js?&sensor=true")
			//- //[if lt IE 10]><script src="../js/_ie.js"></script><![endif]
			script(src='../js/main.js')