.loader-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(#fff, .8);
  .loader {
    $width: 50px;
    $height: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    margin: ($height / -2) 0 0 ($width / -2);
    background: image-url('loader.gif') no-repeat;
    background-size: cover;
  }
}