doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		block pageTitle
		title TEMPLATE | #{pageTitle}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='stylesheet', href='../css/main.css')
		//[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
	block body
		block bottom-script
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='../js/plugins.js')
			script(src="//maps.googleapis.com/maps/api/js?&sensor=true")
			//- //[if lt IE 10]><script src="../js/_ie.js"></script><![endif]
			script(src='../js/main.js')

			//- TODO : Google Analytics: change UA-XXXXX-X to be your site\'s ID.
			//- script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');