block header
	- var pageTitle = 'Tävla med Krafft'
block content
	.page-content.start-page.shadow-container
		.logo
		.heart
		button#start-play.button.button-big.button-red.drop-shadow Tävla
		.intro-text-container
			h1.title Vinn en heldag med din favoritryttare
			h2.subtitle eller biljetter till årets största Horse Shows i Göteborg, Falsterbo eller Stockholm
			ol.steps
				li.step Välj din favoritryttare.
				li.step Registrera dig.
				li.step Motivera varför du vill vinna.