@import "compass/css3/box-sizing";

* {
	@include box-sizing(border-box);
}

@import "boilerplate";
@import "normalize";

@import "variables";


// GENERAL

body {
	font-size: $base-font-size;
	-webkit-touch-callout: none;     /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;       /* prevent copy paste, to allow, change 'none' to 'text' */
}

.page-container:not(.active) {
	display: none;
}

// PARTS

@import "parts/helpers";
@import "parts/spinner";

@import "parts/header";
@import "parts/footer";

// PAGES

@import "pages/home";
