// SIZES

$base-font-size: 16px;

// FUNCTIONS

@function perc($px, $base: $base-screen-width) {
	@return ($px / $base) * 100%;
}

@function rem($px) {
	@return ($px / $base-font-size) * 1rem;
}

@function em($px, $base: $base-font-size) {
	@return ($px / $base) * 1em;
}

$base-screen-width: rem(1080px);

// FONTS

@font-face {
	font-family: "sample";
	src: url("../fonts/sample.ttf") format("truetype");
}

@mixin samplefont($size) {
	font: normal $size sample, sans-serif;
}