ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

listreset()
  margin 0
  padding 0
  list-style none

replace-text()
  border 0
  color transparent
  font 0/0 a
  text-shadow none

triangle($size, $color, $direction)
  content: '';
  display: block;
  border-style solid
  height 0
  width 0

  $foreground-color = $color[0]
  $background-color = length($color) == 2 ? $color[1] : transparent

  $width = $size[0] / 2
  $height = length($size) > 1 ? $size[length($size) - 1] : $size[length($size) - 1] / 2

  if $direction == up
    border-width: 0 $width $height $width;
    border-color: $background-color $background-color $foreground-color $background-color;

  else if $direction == right
    border-width: $width 0 $width $height;
    border-color: $background-color $background-color $background-color $foreground-color;

  else if $direction == down
    border-width: $width $height 0 $width;
    border-color: $foreground-color $background-color $background-color $background-color;

  else if $direction == left
    border-width: $width $height $width 0;
    border-color: $background-color $foreground-color $background-color $background-color;